@import "tailwindcss";



@theme {
  --color-bgColor: #C2EFD4; 
  --color-textColor: #224F34; 
  --color-btnColor: #224F34; 
  --color-imgColor: #6BC785; 
  --color-img1Color: #D9D9D9; 
  --color-bg1Color: #FFFFFF; 


  /* Font  */
  --font-jaro: "Jaro", sans-serif;
   --font-rufina: "Rufina", sans-serif;
   --font-roboto: "Roboto Slab", sans-serif;
};
 
